@model PizzaViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div>
    <div>@Model.Name</div>
    <div>@Model.Price</div>
    <div>@Model.Size</div>
</div>