@using SEDC.PizzaApp.ViewModels.HomeViewModels
@model HomeViewModel

<h1>Welcome</h1>

<h4>Our most popular pizza is: @Model.MostPopularPizza</h4>
<h4>Today on promotion: @Model.PizzaOnPromotion</h4>


