@model Pizza;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "_Layout";
}
<form asp-controller="Pizza" asp-action="Delete" asp-route-id="@Model.Id" method="post">
    Are you sure you want to delete this pizza;
    <button type="submit" class="btn btn-primary">yes</button>
    <a asp-controller="Pizza" asp-action="Index">no</a>
</form>